@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

a:visited {
    color: black;
  }
li {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 16px;
}