@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@400;700;800&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);


/**HEADER**/
a:visited {
    color: black;
  }

.navlink:hover{
    text-decoration: underline;
}
li {
    list-style: none;
    font-family: "Open Sans", serif;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3%;
    height: 120px;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

.logo {
    margin-right: auto;
}

.logo_img{
    height: 100%;
    width: 100%;
}

/**HOME PAGE*************/

/**BANNER**/
.banner{
    background-image: url(../images/banner.png);
    width: 100%;
    height: 720px;
    background-position: 65% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    position: relative;
}

.overlay{
    background-color: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
    z-index: 1;
}

.banner_text{
    height: auto;
    max-width: 70%;
    z-index: 2;
}
#banner_title{
    font-family: Roboto ,"Open Sans", serif;
    font-weight: 800;
    font-size: 90px;
    color: white;
}

#banner_p{
    font-family: Roboto ,"Open Sans", serif;
    font-weight: bold;
    font-size: 21px;
    color: white;
    z-index: 2;
    line-height: 1.2;
}

#banner_title, #banner_p{
    margin: 10px;
}

/**BUTTON**/
.button a{
    color: white;
}
button{
    margin-top: 10px;
    border:0.16em solid rgba(255,255,255,0);
    border-radius: 8px;
    font-size: 20px;
    background-color: #326c7e;
    font-family: "Open Sans", serif;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Open Sans", serif;
    font-weight: 500;
    text-align: center;
  }

  /**INNER CONTENT**/

  .bold {
      font-weight: bold;
  }

  .inner_content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
}
  .inner_img{
      border-radius: 100%;
      height: 500px;
      width: 500px;
      
  }


  .inner_text{
      font-family: "Open Sans", serif;
      font-size: 2rem;
      width: 800px;
      text-align: center;
      display: block;
      
  }

  /**BOTTOM CONTENT**/
  .bottom_content{
      display: flex;
      width: 100%;
      height: 600px;
  }

  .left{
      background-image: url(../images/delivery.jpeg);
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }

  .right{
      background-image: url(../images/fast-friendly.jpeg);
      width: 100%;
      max-height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 65% 25%;
  }

  .left, .right {
    font-family: Roboto ,"Open Sans", serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-weight: 800;
    color: white;
    flex-wrap: wrap;
    flex-flow: column;
  }



/**PRODUCTS PAGE*************/
    .products-main{
        padding-bottom: 50px;
    }
    .products-heading{
        font-family: "Open Sans", serif;
        text-align: center;
    }
    .products-heading h1 {
        font-size: 60px;
        font-weight: 700;
        margin: 20px;
    }
    .products-heading p{
        font-size: 40px;
        font-weight: 500;
    }
    .underline{
        text-decoration: underline;
    }
    .product-container{
        margin: 50px;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-evenly; 
         
        
    }
    .boxes img {
       width: 450px;
       display: block; 
       height: 500px;
       box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    }

    .boxes:hover{
        transform: scale(1.1);
        background-color: gray;
    }

    .boxes p{
        font-size: 20px;
        font-family: "Open Sans", serif;
        text-align: center;
        font-weight: 600;
        padding: 10px;  
    }

    .button-products{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /**WORKSTATION**/










    
  /**FOOTER**/

  footer{
      background-color: black;
      width: 100%;
  }

  .main-footer{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
}

.box {
    margin-top: 10px ;
    width: 300px;
}

  .opening-hours, .location, .menu, .contact, footer li, .menu li a{
    color: white;
    font-family: "Open Sans", serif;
    font-size: 16px;
    
  } 

  .heading{
    font-size: 22px;
    font-weight: 500;
    padding: 10px 20px;
}

.menu li a{
    text-decoration: underline;
}



  .heading ul li {
    padding: 5px 0;
  }


  